/* mycolor.css by sakanafurai | Public Domain */

:root { /* Please replace with your favorite colors */
  --color-1: red;
  --color-2: blue;
  --color-3: yellow;
  --color-4: orange;
  --color-5: green;
  --color-6: purple;
}

/* color-1 */
.background-color-1 {background: var(--color-1);}
.color-1 {color: var(--color-1);}
.border-color-1 {border-color: var(--color-1);}
.border-top-color-1 {border-top-color: var(--color-1);}
.border-right-color-1 {border-right-color: var(--color-1);}
.border-bottom-color-1 {border-bottom-color: var(--color-1);}
.border-left-color-1 {border-left-color: var(--color-1);}
.fill-color-1 {fill: var(--color-1);}
.stroke-color-1 {stroke: var(--color-1);}

/* color-2 */
.background-color-2 {background: var(--color-2);}
.color-2 {color: var(--color-2);}
.border-color-2 {border-color: var(--color-2);}
.border-top-color-2 {border-top-color: var(--color-2);}
.border-right-color-2 {border-right-color: var(--color-2);}
.border-bottom-color-2 {border-bottom-color: var(--color-2);}
.border-left-color-2 {border-left-color: var(--color-2);}
.fill-color-2 {fill: var(--color-2);}
.stroke-color-2 {stroke: var(--color-2);}

/* color-3 */
.background-color-3 {background: var(--color-3);}
.color-3 {color: var(--color-3);}
.border-color-3 {border-color: var(--color-3);}
.border-top-color-3 {border-top-color: var(--color-3);}
.border-right-color-3 {border-right-color: var(--color-3);}
.border-bottom-color-3 {border-bottom-color: var(--color-3);}
.border-left-color-3 {border-left-color: var(--color-3);}
.fill-color-3 {fill: var(--color-3);}
.stroke-color-3 {stroke: var(--color-3);}

/* color-4 */
.background-color-4 {background: var(--color-4);}
.color-4 {color: var(--color-4);}
.border-color-4 {border-color: var(--color-4);}
.border-top-color-4 {border-top-color: var(--color-4);}
.border-right-color-4 {border-right-color: var(--color-4);}
.border-bottom-color-4 {border-bottom-color: var(--color-4);}
.border-left-color-4 {border-left-color: var(--color-4);}
.fill-color-4 {fill: var(--color-4);}
.stroke-color-4 {stroke: var(--color-4);}

/* color-5 */
.background-color-5 {background: var(--color-5);}
.color-5 {color: var(--color-5);}
.border-color-5 {border-color: var(--color-5);}
.border-top-color-5 {border-top-color: var(--color-5);}
.border-right-color-5 {border-right-color: var(--color-5);}
.border-bottom-color-5 {border-bottom-color: var(--color-5);}
.border-left-color-5 {border-left-color: var(--color-5);}
.fill-color-5 {fill: var(--color-5);}
.stroke-color-5 {stroke: var(--color-5);}

/* color-6 */
.background-color-6 {background: var(--color-6);}
.color-6 {color: var(--color-6);}
.border-color-6 {border-color: var(--color-6);}
.border-top-color-6 {border-top-color: var(--color-6);}
.border-right-color-6 {border-right-color: var(--color-6);}
.border-bottom-color-6 {border-bottom-color: var(--color-6);}
.border-left-color-6 {border-left-color: var(--color-6);}
.fill-color-6 {fill: var(--color-6);}
.stroke-color-6 {stroke: var(--color-6);}
