/* mycolor.css by sakanafurai | License: MIT */

:root { /* Please replace with your favorite colors */
  --color-1: red;
  --color-2: blue;
  --color-3: yellow;
  --color-4: orange;
  --color-5: green;
  --color-6: purple;
}

/* color-1 */
.bg-color-1 {background: var(--color-1);}
.color-1 {color: var(--color-1);}
.bd-color-1 {border-color: var(--color-1);}
.bdt-color-1 {border-top-color: var(--color-1);}
.bdr-color-1 {border-right-color: var(--color-1);}
.bdb-color-1 {border-bottom-color: var(--color-1);}
.bdl-color-1 {border-left-color: var(--color-1);}
.fill-color-1 {fill: var(--color-1);}
.stroke-color-1 {stroke: var(--color-1);}

/* color-2 */
.bg-color-2 {background: var(--color-2);}
.color-2 {color: var(--color-2);}
.bd-color-2 {border-color: var(--color-2);}
.bdt-color-2 {border-top-color: var(--color-2);}
.bdr-color-2 {border-right-color: var(--color-2);}
.bdb-color-2 {border-bottom-color: var(--color-2);}
.bdl-color-2 {border-left-color: var(--color-2);}
.fill-color-2 {fill: var(--color-2);}
.stroke-color-2 {stroke: var(--color-2);}

/* color-3 */
.bg-color-3 {background: var(--color-3);}
.color-3 {color: var(--color-3);}
.bd-color-3 {border-color: var(--color-3);}
.bdt-color-3 {border-top-color: var(--color-3);}
.bdr-color-3 {border-right-color: var(--color-3);}
.bdb-color-3 {border-bottom-color: var(--color-3);}
.bdl-color-3 {border-left-color: var(--color-3);}
.fill-color-3 {fill: var(--color-3);}
.stroke-color-3 {stroke: var(--color-3);}

/* color-4 */
.bg-color-4 {background: var(--color-4);}
.color-4 {color: var(--color-4);}
.bd-color-4 {border-color: var(--color-4);}
.bdt-color-4 {border-top-color: var(--color-4);}
.bdr-color-4 {border-right-color: var(--color-4);}
.bdb-color-4 {border-bottom-color: var(--color-4);}
.bdl-color-4 {border-left-color: var(--color-4);}
.fill-color-4 {fill: var(--color-4);}
.stroke-color-4 {stroke: var(--color-4);}

/* color-5 */
.bg-color-5 {background: var(--color-5);}
.color-5 {color: var(--color-5);}
.bd-color-5 {border-color: var(--color-5);}
.bdt-color-5 {border-top-color: var(--color-5);}
.bdr-color-5 {border-right-color: var(--color-5);}
.bdb-color-5 {border-bottom-color: var(--color-5);}
.bdl-color-5 {border-left-color: var(--color-5);}
.fill-color-5 {fill: var(--color-5);}
.stroke-color-5 {stroke: var(--color-5);}

/* color-6 */
.bg-color-6 {background: var(--color-6);}
.color-6 {color: var(--color-6);}
.bd-color-6 {border-color: var(--color-6);}
.bdt-color-6 {border-top-color: var(--color-6);}
.bdr-color-6 {border-right-color: var(--color-6);}
.bdb-color-6 {border-bottom-color: var(--color-6);}
.bdl-color-6 {border-left-color: var(--color-6);}
.fill-color-6 {fill: var(--color-6);}
.stroke-color-6 {stroke: var(--color-6);}
